@import '../../../variables.css';

.Orders {
    width: 100%;
    margin: 0 auto;
}

.OrdersContainer {
    width: 70%;
    margin: 1rem auto;
    padding: 2rem 0;
    border: 2px solid var(--coloring-opaque-dark);
    box-shadow: var(--shadow-light);
}

.ControlsContainer {
    width: 85%;
    margin: 0 auto;
}

.Orders h1 {
    margin: 3rem auto;
    text-align: center;
    color: var(--coloring-dark);
    margin: 0 auto;
}

@media screen and (max-width: 500px) {
    .Orders {
        width: 100%;
    }

    .OrdersContainer {
        width: 95%;
    }

    .ControlsContainer {
        width: 95%;
    }
}