@import '../../../../variables.css';

.Notification {
    display: flex;
    width: auto;
    height: 80%;
    margin: 0.3rem auto;
    display: flex;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
}

.Notification p {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 85px;
    width: 80%;
    text-align: center;
    font-size: 1.3rem;
}

.Success svg {
    color: var(--confirmation-green);
}

.Fail svg {
    color: var(--danger-red);
}

/* Small screen */
@media only screen and (max-width: 500px) {
    .Notification p {
        font-size: 0.9rem;
    }
}