@import '../../variables.css';

.Logo {
    box-sizing: border-box;
    margin: 0.5rem 0;
    text-align: center;
    color: var(--coloring-bright-light);
}

/* Extra small screens */
@media only screen and (max-width: 350px) {
    .Logo {
        margin: 0;
    }
}