@import '../../../variables.css';

.Input {
    width: 100%;
    padding: 0.2rem;
    box-sizing: border-box;
    font-family: inherit;
}

.Input input,
.Input textarea,
.Input select {
    background-color: rgba(241, 238, 238, 0);
    color: var(--coloring-dark);
    font-size: 0.9rem;
    width: 60%;
    border: none;
    border-radius: 2px;
    border: 2px solid var(--coloring-opaque-dark);
    padding: 0.3rem 0.7rem;
    margin: 0.7rem auto;
    display: inline-block;
    transition: all 0.5s;
}

/* To disable up and down number spinners on number input field */
.Input input[type=number]::-webkit-inner-spin-button,
.Input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Input textarea {
    border: 2px solid var(--coloring-opaque-dark);
    overflow: auto;
    resize: none;
    text-align: start;
    margin: 0.5rem auto;
    height: 3rem;
    width: 75%;
    height: 5rem;
}

.Input label {
    width: 35%;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0.5rem;
    text-align: center;
}

.Input select option {
    text-align: center;
    background-color: rgba(241, 238, 238, 0.993);
    color: var(--coloring-dark);
}

.Input input:focus,
.Input select:focus {
    border: 2px solid var(--glow-light-blue);
}

.Input textarea:focus {
    border: 2px solid var(--glow-light-blue);
}

.Input .ValidStyle {
    border: 2px solid var(--glow-green-opaque-lighter);
}

.Input .InvalidStyle {
    border: 2px solid var(--invalid-red-dark);
}

.errorMessageStyle {
    margin: 0.1rem;

    font-size: 0.8rem;
    color: var(--invalid-red-light);
}

::placeholder {
    color: var(--coloring-opaque-dark);
}

/* Small screen */
@media screen and (max-width: 800px) {

    .Input input,
    .Input textarea,
    .Input select {
        font-size: 0.9rem;
        width: 70%;
        display: block;
    }

    .Input textarea {
        width: 85%;
        height: 5rem;

    }

    .Input label {
        width: 100%;
        display: block;
    }
}